{% extends 'base.html' %}
{% block body %}

{% load static %}
<video id="video" width="224" height="224" autoplay muted hidden></video>
<script defer src={% static 'models\face-api\dist\face-api.min.js' %}></script>

<link rel="stylesheet" href="{% static 'css\modal.css' %}"/>
<body  onload="onLoad()">
    <div id="loading">
        <h2 class="info">Page loading, please wait...</h2>
    </div>

    <div id="content" hidden>
        <h2 class="title">Choose your candidate</h2>
        <script src={% static 'js\cast_vote.js' %}></script>
        {% if msg is not None %}
        <p class="err-msg">{{msg}}</p>
        {% endif %}
        <section>
            {% for candidate in all_candidates %}
            <button class="candidatebutton" name="btn" value={{candidate.id}} onclick="open_modal(document.getElementById('confirm_vote_modal'), document.getElementById('confirm_vote_modal_content'), document.getElementById('{{candidate.id}}'), this.value)">
                <div class="candidatediv" id="{{candidate.id}}">
                    <h2 class="mid-title">{{candidate.name}}</h2>
                    {% if candidate.info is not None %}
                        <p class="msg">{{candidate.info}}</p>     
                    {% endif %}
                    <img class="candidate" src="{% static "images/candidates/" %}{{candidate.img_name}}"></src>
                </div>
            </button>
            {% endfor %}
        </section>

        <form method="POST">
            {% csrf_token %}
            <!-- The Modal -->
            <div class="modal" id="confirm_vote_modal">
                <!-- Modal content -->
                <div class="modal-content" id="confirm_vote_modal_content">
                    <h2 class="title"> Your vote: </h2>
                    <div class="modal-div" id="candidate_div"></div>
                    <h2 class="info">Press 'Confirm' to confirm your final vote or 'Cancel' to go back and choose another candidate</h2>
                    <button class="submitbutton" id="confirm_btn" name="confirm_btn" type="submit">Confirm</button>
                    <button class="submitbutton" id="close_btn" type="button" onclick="close_modal(document.getElementById('confirm_vote_modal'), document.getElementById('confirm_vote_modal_content'))">Cancel</button>
                </div>
            
            </div>
            </form>

            <div class="modal" id="errmodal" hidden>
                <div class="modal-content">
                    <!-- Modal content -->
                    <h2 class="mid-title"> More than one person detected in frame. </h2>
                    <p class="msg"> please make sure only one person in frame to continue... </p>
                </div>
            </div>
            <script src={% static 'js\face_detection.js' %}></script>
    </div>
</body>
{% endblock %}